<div class="grid_2 alpha forms"><%= form.label :password, "Set your password:" %></div>
<div class="grid_6 omega forms"><%= form.password_field :password %></div>


<div class="grid_2 alpha forms"><%= form.label :password_confirmation %></div>
<div class="grid_6 omega forms"><%= form.password_field :password_confirmation %></div>

  