<div class="grid_8">

<h1>Activate your account</h1>

 
  <%= form_for @user, :url => activate_path(@user.id), :html => { :method => :post } do |form| %>
  	
  	<%= render :partial => "form", :locals => { :form => form }%>
  	<%= form.submit "Activate" %>
  <% end %>

</div>
 
  
