<h4><%= section_info.name %></h4>
<div>
    <ul class="list-unstyled">
    <% section_info.people_riders.map do | rider | %>
        <li><%= link_to rider.name, rider %></li>
    <% end  %>
    </ul>
    <ul class="list-unstyled">
    <% section_info.section_songs.map do | song | %>
        <li><%= link_to (song.name + ' - ' +  song.artist), songlist_path(song.id) %></li>
    <% end  %>
    </ul>
</div>