<div class="container-fluid">

<h2><%= @company.name %></h2>

<% if @company.company_logo.attached? %>
  <p>
    <%= image_tag @company.company_logo %>
  </p>
<% end %>


<% @company.films.order("release_year").each_slice(3) do |films| %>
  
  <%= render partial: "shared/film_card", object: films %>

<% end %>


</div>