@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
$font-family-base: "Alegreya Sans SC";
$font-size-base: 1.25rem;
@import "bootstrap";
@import "lightbox-bootstrap";


// make all images responsive by default
img {
    @extend .img-fluid;
    margin: 0 auto;
  }
  // override for the 'Home' navigation link
  .navbar-brand {
    font-size: inherit;
    }
  
  // THESE ARE EXAMPLES YOU CAN MODIFY
  // create your own classes
  // to make views framework-neutral
  .column {
    @extend .col-md-6;
    text-align: center;
  }
  .form {
    @extend .col-md-6;
  }
  .form-centered {
    @extend .col-md-6;
    text-align: center;
  }
  .submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
  }
  
  // apply styles to HTML elements
  // to make views framework-neutral
  main {
    @extend .container;
    margin-top: 30px; // accommodate the navbar
  }
  
  section {
    @extend .row;
    margin-top: 20px;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.modal-content {
  // -webkit-box-shadow: 5px 5px 4px 5px;
  //   -moz-box-shadow: 5px 5px 4px 5px;
  //   -o-box-shadow: 5px 5px 4px 5px;
  //   box-shadow: 5px 5px 4px 5px;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-backdrop
{
    opacity:0.9 !important;
}


.modal-body {
position:relative;
padding:0px;
background-color: black;
}

.modal-footer {
  background-color: black;
  color: white;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.carousel .carousel-control-prev { visibility: hidden; }
.carousel:hover .carousel-control-prev { visibility: visible; }

a.carousel-control-prev {
  max-height:21%; 
  margin-top:21%;
}

.carousel .carousel-control-next { visibility: hidden; }
.carousel:hover .carousel-control-next { visibility: visible; }

a.carousel-control-next {
  max-height:21%; 
  margin-top:21%;
}

.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 40%;
}

